In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
#matches = ready_df.index

In [2]:
#importing .xlsx into jupyter notebook

pd.read_excel(r"C:\Users\USER\Documents\Book1.xlsx")

,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date
0,12,22,1,0,54.54,2,lbw,1,v Sri Lanka,Dambulla,2008-08-18
1,37,67,6,0,55.22,2,caught,2,v Sri Lanka,Dambulla,2008-08-20
2,25,38,4,0,65.78,1,run out,1,v Sri Lanka,Colombo (RPS),2008-08-24
3,54,66,7,0,81.81,1,bowled,1,v Sri Lanka,Colombo (RPS),2008-08-27
4,31,46,3,1,67.39,1,lbw,2,v Sri Lanka,Colombo (RPS),2008-08-29
...,...,...,...,...,...,...,...,...,...,...,...
127,45,51,2,1,88.23,3,caught,2,v New Zealand,Ranchi,2016-10-26
128,65,76,2,1,85.52,3,caught,1,v New Zealand,Visakhapatnam,2016-10-29
129,122,105,8,5,116.19,3,caught,2,v England,Pune,2017-01-15
130,8,5,2,0,160.00,3,caught,1,v England,Cuttack,2017-01-19
131,55,63,8,0,87.30,3,caught,2,v England,Kolkata,2017-01-22

In [ ]:
ready = pd.read_excel(r"C:\Users\USER\Documents\Book1.xlsx")

In [ ]:
ready_df = pd.DataFrame(ready)
matches = ready.index
#note the spelling of DataFrame

In [ ]:
ready_df.head()

In [ ]:
ready_df.tail()

In [ ]:
ready_df.describe()

In [ ]:
ready_df.shape

In [ ]:
ready_df.isnull()
#sets all row/cell values to false

In [ ]:
ready_df.isnull().sum()
#depicts null values

In [ ]:
ready_df.groupby('Ground').size()
#grouping according to grounds in numbers

In [ ]:
ready_df.groupby('Dismissal').size()
#grouping according grounds in numbers

In [ ]:
ready_df.groupby('Pos').size()
#grouping according to pos in numbers

In [ ]:
ready_df.groupby('Opposition').size()
#grouping according to opposition in numbers

In [ ]:
ready_df.groupby('Runs').size()
#grouping according grounds in numbers

In [ ]:
ready_df.Runs.sum()
#obtaining the total number of runs

In [ ]:
ready_df.Runs.mean()
#obtaining the mean of runs

In [ ]:
x = matches
y = 'Runs'

In [ ]:
#for non-array data
first=px.line(ready, x, y, title= 'Runs Scored by Virat Kohli Between 2008-08-18 and 2022-01-17')

In [ ]:
first

In [ ]:
#B= 0
#while B<8:
    print(f'Batting position at {B}')
    
    #B+=1

In [ ]:
#B= 0

#i= ready_df['Pos']
#while B<8:
    #print(f'{i} Batting position at {B}')
    
    #B+=1
    #i+=1

In [ ]:
#B= 0

#i= 'Pos'
#while B<8:
 #   print(f'{i} Batting position at {B}')
    
   # B+=1
  #  i+=1

In [ ]:
#joining a list
#mylist= ['Batting', 'at', '']

In [ ]:
#M= '_'.join(mylist)

In [ ]:
#M

In [ ]:
#lambda _ : _+1

In [ ]:
#list(map(lambda _ : _+1 , M))

In [ ]:
P= {1.0 : 'Battling At 1', 2.0 : 'Battling At 2', 3.0 : 'Battling At 3', 4.0 : 'Battling At 4' , 5.0 : 'Battling At 5', 6.0 : 'Battling At 6', 7.0 : 'Battling At 7'}

In [ ]:
pod= ready_df['Pos'].map(P)
#we simply related the Pos columns to the data in it.

In [ ]:
pod

In [ ]:
Y= pod.value_counts()

In [ ]:
Y

In [ ]:
label= ready_df['Pos'].index
C= pod

colors = ['gold','lightgreen', 'pink', 'blue', 'skyblue', 'cyan', 'orange']

In [3]:
second= go.Figure(data= [go.Pie(labels= label,values= Y)])
second.update_layout(title_text= 'Number of Matches At Different Battling Positions')
second.update_traces(hoverinfo = 'label + percent', textinfo= 'value', textfont_size= 30, marker = dict(colors= colors, line= dict(color= 'black', width= 3)))

NameError: name 'label' is not defined

In [ ]:
#obtaining specific rows within a range

centuries = ready_df.query('Runs>=100')

In [ ]:
centuries

In [ ]:
third = px.bar(centuries, x= centuries['Inns'], y= centuries['Runs'], color= centuries['Runs'],title= 'Centuries by Virat Kohli in First Innings vs Second Innings')
#ValueError: Value of 'color' is not the name of a column in 'data_frame'. Expected one of ['Runs', 'BF', '4s', '6s', 'SR', 'Pos', 'Dismissal', 'Inns', 'Opposition', 'Ground', 'Start Date'] but received: red
#color must be a column-- kinda like the legend and key

In [ ]:
third

In [ ]:
dismissal= ready_df['Dismissal'].value_counts()

In [ ]:
dismissal

In [ ]:
Q= dismissal.index
R= dismissal.values

In [ ]:
Q

In [ ]:
R

In [ ]:
labels = Q
counts = R
colors = ['gold','lightgreen', "pink", "blue", "skyblue", "cyan", "orange"]

In [ ]:
fourth= go.Figure(data = [go.Pie(labels= Q, values= R)])
fourth.update_layout(title_text= 'Dismissals of Virat Kohli')
fourth.update_traces(hoverinfo= 'label+percent', textinfo= 'value', textfont_size = 30, marker = dict(colors = colors, line = dict(color='black', width= 3)))

In [ ]:
fifth= px.bar(ready_df, x= ready_df['Opposition'], y= ready_df['Runs'], color = ready_df['Runs'], title= 'Most Runs Against Teams' )

#for bar chat color must be a column-- kinda like the legend and key

In [ ]:
fifth

In [ ]:
sixth= px.bar(centuries, x= centuries['Opposition'], y= centuries['Runs'], color = centuries['Runs'], title= 'Most Centuries Against Teams')

In [ ]:
sixth

In [ ]:
strike_rate = ready_df.query('SR>= 120')

In [ ]:
strike_rate

In [ ]:
seventh= px.bar(strike_rate, x= strike_rate['Inns'], y= strike_rate['SR'], color = strike_rate['Runs'], title= "Virat's High Strike Rate in First Innings vs Second Innings")

In [ ]:
seventh

In [ ]:
eighth= px.scatter(ready_df, x= 'Runs', y= '4s', size= 'SR', trendline = 'ols', title= 'Relationship Between Runs Scored and Fours')

In [ ]:
eighth

In [ ]:
ninth= px.scatter(ready_df, x= 'Runs', y= '6s', size= 'SR', trendline = 'ols', title= 'Relationship Between Runs Scored and Sixes')

In [ ]:
ninth